@import "tailwindcss";

@theme {
  --color-primary: #075C4B;
  --color-secondary: #25A77A;
  --color-accent: #B8EBD8;
  --color-bg: #F5FAF8;
  --color-text: #10201C;
  --color-textmuted: #66736F;
}

body {
  background-color: #F5FAF8;
  color: #10201C;
}